.navbar {
    background-color: rgba(63, 62, 62, 0.39);
    padding: 10px 20px;
    display: flex;
    padding-top: 3rem;
}

/* Menü */
.menus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menus a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    transition: 300ms;
    margin: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

.menus a:hover {
    background-color: white;
    color: black;
    transform: scale(1.03);
}

.menus a:active{
    transition: 300ms;
    background-color: white;
    color: black;
    transform: scale(1.03);
}
.credit{
    margin-top: 40px;
    font-weight: 300;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
}

    .designer{
    color: rgb(204, 62, 180);
    font-weight: 700;
}

/* Mobil için Menü Butonu */
.menu-toggle {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

/* Responsive Ayarlar */
@media (max-width: 768px) {
    .navbar{
        padding-top: 10px;
    }
    .menus {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        text-align: center;
    }

    .menus.open {
        display: flex;
        z-index: 999;
    }

    .menus a {
        font-size: 1.2rem;
        padding: 10px;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }
    .credit{
        display: none;
    }
}
