.navbar{
    /* background-color: #6A6A6A; */
    /* background-color: #868686; */
    background-color: rgba(63, 62, 62, 0.39);
}

.menus{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    padding-left: 70px;
    box-sizing:border-box;    
}

.menus a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    transition: 300ms;
    text-align: left;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: rgba(63, 62, 62, 0);
    color: white;
}

.menus i {
    transition: 300ms;
    margin-right: 6px;
}

.menus a:hover{
    transition: 300ms;
    background-color: white;
    color: black;
    transform: scale(1.03);
}

.menus a:active{
    transition: 300ms;
    background-color: white;
    color: black;
    transform: scale(1.03);
}

.credit{
    margin-top: 40px;
    font-weight: 300;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
}

.designer{
    color: rgb(204, 62, 180);
    font-weight: 700;
}

/* .menus a.active{
    border-top: 2px solid rgba(63, 62, 62, 0.39);
    border-left: 2px solid rgba(63, 62, 62, 0.39);
    border-bottom: 2px solid rgba(63, 62, 62, 0.39);
    background-color: white;
    color: black;
    transform: scale(1.01);
} */