
.sub-section{
    margin-top: 1rem;
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px 60px;
    box-sizing: border-box;
    justify-content: center;
}


.img-project{
    height: 360px; 
    background:#fff;
    position: relative;
    display:flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition:.5s ease-in-out;
    border-radius:30px;
    overflow: hidden;
}

.img-project:hover{
    transform: translateY(-10px);
    /* transform: scale(1,1); */
}

.img-project img {
      width: 100%;
      height: 100%;
      /* object-fit: contain; */
      object-fit: scale-down;
      position: absolute;
}


.img-project:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(89, 255, 246, .5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.img-project:hover:before{
    opacity: 1;
}

.img-project .project-info{
    position: relative;
    padding: 5px;
    z-index: 3;
    color: black;
    opacity: 0;
    transform: translateY(30px);
    transition:0.5s all;
}

.img-project:hover .project-info{
    opacity: 1;
    transform: translateY(-10px);
    font-family: 'Dancing Script', cursive;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.img-project .project-info h1{
    margin: 0;
}

/* .img-project .project-info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
} */

.img-project .project-info .btn{
    text-decoration: none;
    padding:.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border: 3px solid white;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}


/* for button styling but later */
/* .img-project .project-info .btn:hover{
    cursor: pointer;
} */

/* .img-project .project-info .btn:before{
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    opacity: 1;
    content:"";
    background-color: #42FBF2;
} */

/* .img-project:hover .project-info .btn:hover:before{
    transition: 0.5s all ease;
    left: 50%;
    right: 50%;
    opacity: 1;
    z-index: -1;
} */